<p id="notice"><%= notice %></p>

<h1>Geographic Areas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @geographic_areas.each do |geographic_area| %>
      <tr>
        <td><%= geographic_area.name %></td>
        <td><%= link_to 'Show', geographic_area %></td>
        <td><%= link_to 'Edit', edit_geographic_area_path(geographic_area) %></td>
        <td><%= link_to 'Destroy', geographic_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geographic Area', new_geographic_area_path %>
