<p id="notice"><%= notice %></p>

<h1>Geographic Areas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @geographic_areas.each do |geographic_area| %>
      <tr>
        <td>
          <%= link_to geographic_area.name, geographic_area %>
        </td>
        <% if current_user.game_master? %>
          <td><%= link_to 'Edit', edit_geographic_area_path(geographic_area) %></td>
          <td><%= link_to 'Destroy', geographic_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.game_master? %>
  <%= link_to 'New Geographic Area', new_geographic_area_path %>
<% end %>
