<p id="notice"><%= notice %></p>

<% @geographic_area.attributes.each do |k,v| %>
  <% if v.present? && !['id', 'created_at', 'updated_at'].include?(k) %>
    <p>
      <strong><%= "#{k.upcase}: " %></strong>
      <%= v %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_geographic_area_path(@geographic_area) %> |
<%= link_to 'Back', geographic_areas_path %>
