<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @geographic_area.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @geographic_area.summary %>
</p>

<p>
  <strong>Flora:</strong>
  <%= @geographic_area.flora %>
</p>

<p>
  <strong>Fauna:</strong>
  <%= @geographic_area.fauna %>
</p>

<p>
  <strong>Civilizations:</strong>
  <%= @geographic_area.civilizations %>
</p>

<p>
  <strong>Ruins:</strong>
  <%= @geographic_area.ruins %>
</p>

<p>
  <strong>Landscape:</strong>
  <%= @geographic_area.landscape %>
</p>

<p>
  <strong>Geography:</strong>
  <%= @geographic_area.geography %>
</p>

<p>
  <strong>Territory control:</strong>
  <%= @geographic_area.territory_control %>
</p>

<p>
  <strong>History:</strong>
  <%= @geographic_area.history %>
</p>

<p>
  <strong>Lore:</strong>
  <%= @geographic_area.lore %>
</p>

<p>
  <strong>Archeology:</strong>
  <%= @geographic_area.archeology %>
</p>

<p>
  <strong>Recommended experience:</strong>
  <%= @geographic_area.recommended_experience %>
</p>

<p>
  <strong>Size:</strong>
  <%= @geographic_area.size %>
</p>

<p>
  <strong>Points of interest:</strong>
  <%= @geographic_area.points_of_interest %>
</p>

<%= link_to 'Edit', edit_geographic_area_path(@geographic_area) %> |
<%= link_to 'Back', geographic_areas_path %>
