<p id="notice"><%= notice %></p>

<% @human_tribe.attributes.each do |k,v| %>
  <% if v.present? && !['id', 'created_at', 'updated_at', 'geographic_area_id'].include?(k) %>
    <p>
      <strong><%= "#{k.upcase}: " %></strong>
      <%= v %>
    </p>
  <% end %>
  <% if k.eql?('geographic_area_id') %>
    <p>
      <strong>GEOGRAPHIC AREA: </strong>
      <%= @human_tribe.geographic_area.name.capitalize %>
    </p>
  <% end %>
<% end %>

<% if current_user.game_master? %>
  <%= link_to 'Edit', edit_human_tribe_path(@human_tribe) %> |
<% end %>
<%= link_to 'Back', human_tribes_path %>
